// Variables

//  Colors
$color-brand: #ffd900;
$color-primary: #21457f;
$color-secondary: #747480;
$color-gray: #303030;
$color-dark: #000;
$color-light: #fff;

$background-color-dark: linear-gradient(135deg, #21254e, #2b4a83);
$background-color-gold: linear-gradient(270deg, #ffd900, #ffe422);

// Typography
$font-url--internal-eot: '../font/vazir';
$font-url--internal-ttf: '../font/vazir';
$font-url--internal-woff: '../font/vazir';
$font-url--internal-woff2: '../font/vazir';
$font-family: 'vazir';
$font-family--secondary: sans-serif;
$font-sizes: (
  'body': 1em,
  'label': 0.875em,
);
$font-weights: (
  1: normal,
  2: bold,
);

// Base size unit
$browser-context: 16;

// Media queries breakpoint
$screen-xs-min: 320px;
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
